.CreateTask {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 3px;
    flex: 1;
    margin: 4px;
    display: flex;
    flex-direction: column;
    max-height: min-content;
}

.CreateTask .top-bar {
    display: flex;
    padding: 4px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.CreateTask .top-bar > div {
    flex: 1;
    display: flex;
    justify-content: center;
}

.CreateTask .top-bar > div > h4 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.CreateTask .expandable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    padding: 8px;
    
    max-height: 200px;

    -moz-transition: max-height .5s;
    -ms-transition: max-height .5s;
    -o-transition: max-height .5s;
    -webkit-transition: max-height .5s;
    transition: max-height .5s;
}

.CreateTask .expandable.hidden {
    max-height: 0;
    padding: 0;

    border-top: none;
}

.CreateTask .expandable .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    visibility: visible;
    opacity: 1;

    /* -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    -webkit-transition: opacity .2s;
    transition: opacity .2s; */
}

.CreateTask .expandable.hidden .content {
    visibility: hidden;
    opacity: 0;
}

.CreateTask input, textarea {
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 4px;
    width: 100%;
}