.CreateTask {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: min-content;
}

.CreateTask .top-bar {
    display: flex;
    padding: 4px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #222;
    position: relative;
    z-index: 10;
}

.CreateTask .top-bar > div {
    flex: 1;
    display: flex;
    justify-content: center;
}

.CreateTask .top-bar > div > h5 {
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: white;
}

.CreateTask .top-bar > img {
    cursor: pointer;
}

.CreateTask .expandable {
    display: flex;
    z-index: 0;

    background-color: white;
    border-bottom: .5px solid lightgray;
    
    max-height: 200px;

    -moz-transition: max-height .5s;
    -ms-transition: max-height .5s;
    -o-transition: max-height .5s;
    -webkit-transition: max-height .5s;
    transition: max-height .5s;
}

.CreateTask .expandable.hidden {
    max-height: 0;
    padding: 0;
}

.CreateTask .expandable .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    min-height: min-content;
    padding: 4px 8px;
    opacity: 1;

    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.CreateTask .expandable.hidden .content {
    opacity: 0;
}

.CreateTask input, .CreateTask textarea {
    border: .5px solid lightgray;
    padding: 2px;
    margin: 4px;
    max-width: 100%;
}

.CreateTask input:focus, .CreateTask textarea:focus {
    outline: none;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.CreateTask textarea {
    resize: none;
}

.CreateTask .expandable .content .button {
    max-width: 100%;
    background-color: #222;
    margin: 4px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.CreateTask .expandable .content .button > span {
    flex: 1;
    color: white;
    font-weight: 400;
    font-size: 12px;
}