body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #d1f8ff;
  box-sizing: border-box;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  min-height: 100%;
  min-width: 100%;
}
